/* .login-register-wrapper{
    height: 560px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
    color: aliceblue;
    background: linear-gradient(180deg, rgb(231, 105, 2) 0%, rgb(229, 167, 130) 52%, rgba(255,255,255,0) 82%);
    text-align: center;
    margin-top: 10rem

} */